@import "tailwindcss";

@theme {

  --color-cream: #fdf6e3;
  --color-saffron: #e8890c;
  --color-gold: #d4a820;
  --color-maroon: #7a1c1c;
  --color-deepmaroon: #5c1212;
  --color-brown: #4a2c0a;

  --font-display: "poppins";
  --font-heading:"poppins";
  /* --font-body: ""poppins" */

}


@keyframes fadeUp {
  from { opacity: 0; transform: translateY(20px); }
  to   { opacity: 1; transform: translateY(0); }
}

.animate-fadeup {
  animation: fadeUp 0.5s ease both;
}